<!-- Extend the base HTML from a template page!-->
{% extends 'polls/base.html' %}

<!-- Insert the code in the template page!-->
{% block main_content %}
<h1> {{ question.question_text }} </h1>

{% if error_message %} <strong> {{ error_message }} </strong> {% endif %}

<br action="{% url 'polls:vote' %}" method="post">
    {% csrfoken %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="{{ forloop.counter}}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}"> {{ choice.choice_text }}</label><br>
    {% endfor %}

    <input type="submit" value="vote">

</form>

<ul>
    {% for choice in question.choice_set.all %}
        <li>{{  choice.choice_text }}</li>
    {% endfor %}
</ul>
{% endblock %}